<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/system_file.xsd">
    <system>
        <tab id="iwd" translate="label" sortOrder="999998" class="iwd-extensions-tab">
            <label>IWD Agency</label>
        </tab>
        <section id="iwd_checkout_connector" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>IWD Checkout</label>
            <tab>iwd</tab>
            <resource>IWD_CheckoutConnector::system_config</resource>
            <group id="info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Info</label>
                <field id="version" translate="label" type="text"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <frontend_model>IWD\CheckoutConnector\Block\Adminhtml\System\Config\Version</frontend_model>
                </field>
                <field id="documentation" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Documentation</label>
                    <frontend_model>IWD\CheckoutConnector\Block\Adminhtml\System\Config\Documentation</frontend_model>
                </field>
                <field id="register_account" translate="label" type="text"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Register IWD Account</label>
                    <frontend_model>IWD\CheckoutConnector\Block\Adminhtml\System\Config\Registration</frontend_model>
                </field>
                <field id="account_details" translate="label" type="button"
                       sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Details</label>
                    <frontend_model>IWD\CheckoutConnector\Block\Adminhtml\System\Config\Account</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text"  sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_api_key" translate="label" type="text"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration API Key</label>
                    <validate>required-entry validate-length minimum-length-40 maximum-length-40</validate>
                </field>
                <field id="integration_api_secret" translate="label" type="obscure"
                       sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration API Secret</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="connection_status" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Connection Status</label>
                    <frontend_model>IWD\CheckoutConnector\Block\Adminhtml\System\Config\ConnectionStatus</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
